@include MQ(mobile) {
    .contact  {
		.contact-form {
			.form {
				&-w5 {
					+ .form-w5 {
						margin-top: 5px;
					}
				}
			}
		}
	}
}
@include MQ(tablet) {
	.header {
		&-btn {
			@include centering;
			@include sq-size($form-h * 2);
			font-size: 2.6rem;
		}
		&-bar {
			.btn-facebook {
				float: left;
			}
		}
		.search {
			position: absolute;
			top: 6px;
			right: 0;
		}
	}
	.index {
		.home-news {
			padding-bottom: 2rem;
			margin-bottom: 2rem;
			border-bottom: 1px solid brand-gray(500);
		}
	}
	.application {
		margin-bottom: 1rem;
	}
}
@include MQ(sm) {
	.header {
		.search {
			width: 250px;
		}
	}
	.index {
		.video {
			width: 100%;
		}
		.application {
			@include suffix(0.3);
			min-width: 400px;
		}
		.home {
			&-pro {
				text-align: center;
				margin-left: 2rem;
			}
			&-news {
				border-right: 1px solid brand-gray(400);
				border-bottom: 0;
				&:after {
					content: '';
					display: block;
					position: absolute;
					right: -1px;
					top: 0;
					@include size(1px,30px);
					background-color: $brand-base;
				}
				.news-inner{
					width: 400px;
					padding-right: 1rem;
				}
				.news-btn {
					right: 1rem;
				}
			}
		}
	}
	.location {
		&-list {
			> li {
				float: left;
				width: 50%;
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					right: 1rem;
					width: 1px;
					height: 80px;
					margin-top: -40px;
				}
				&:nth-child(1),
				&:nth-child(4) {
					&:after {
						background: brand-gray(400);
					}
				}
			}
		}
	}
	.contact  {
		.contact-form {
			.form {
				&-address {
					width: 80%;
				}
				&-label {
					padding-bottom: 0;
				}
				&-input, &-textarea {
					width: 80%;
				}
				&-w5 {
					width: 39.6%;
				}
			}
		}
	}
}
@include MQ(md) {
	.header {
		&-bar {
			.btn-facebook {
				float: right;
			}
		}
	}
	.location {
		&-list {
			> li {
				width: 33.33%;
				&:after {
					background: brand-gray(400);
				}
				&:nth-child(3),
				&:last-child {
					&:after {
						background-color: transparent;
					}
				}
			}
		}
	}
}