.contact {
	.container {
		@include flex-wrap(wrap);
		@include ptd(1rem);
	}
	&-content {
		padding: 1rem;
		font-family: 'Noto Sans TC', sans-serif;
		font-size: font-size(sm);
	}
	.contact-form {
		width: 100%;
		max-width: 500px;
		@include center;
		.form {
			&-mandatory, &-group {
				padding-bottom: 1rem;
			}
			&-mandatory {
				@include pre(.5);
			}
			&-address {
				float: left;
				#twzipcode {
					> div {
						float: left;
						padding-right: 5px;
						select, input {
							min-width: 98.5px;
							height: $form-h;
							color: brand-gray(100);
							border: 1px solid brand-gray(400);
							background-color: brand-gray(700);
							@include border-radius(5px);
							padding: 5px;
							&:focus {
								outline: 0;
								border-color: $brand-base;
							}
						}
					}
					+ .form-input {
						margin-top: 5px;
						width: 99%;
					}
				}
			}
			&-label {
				position: relative;
				display: inline-block;
				vertical-align: top;
				width: 19%;
				padding-left: 1rem;
				padding-bottom: 0.5rem;
				span {
					position: absolute;
					top: 5px;
					left: 0;
				}
			}
			&-input, &-textarea {
				width: 100%;
			}
			&-code {
				width: 100px !important;
			}
			&-button {
				text-align: right;
			}
		}
	}
}
