.slider {
	position: relative;
	&-inner {
		display: none;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		z-index: 1051;
		width: 100%;
		height: 18px;
		background-image: inline-image("shawdown.png");
		background-position: center center;
		background-repeat: no-repeat;
		pointer-events: none;
	}
	.bx {
		&-wrapper {
			@include clearfix;
			background-color: brand-gray(500);
		}
		&-viewport {
			text-align: center;
		}
		&-controls {
			@include max-w;
			&-direction {
				float: right;
				> a {
					display: inline-block;
					font-size: 0;
					@include pad(5px);
					&:before {
						font-family: Fonticon;
						font-size: 2rem;
						color: $brand-base;
					}
					&.bx-prev {
						&:before {
							content: '\f104';
						}
					}
					&.bx-next {
						&:before {
							content: '\f105';
						}
					}
				}
			}
		}
		&-pager {
			float: left;
		}
		&-pager {
			&-item {
				display: inline-block;
				padding: 6px 2px 4px;
				> a {
					display: inline-block;
					float: left;
					@include sq-size(12px);
					font-size: 0;
					background-color: brand-gray(300);
					border-radius: 50%;
					&.active {
						background-color: $brand-base;
					}
				}
			}
		}
	}
}
@include MQ(sm) {
	.slider {
		&-inner {
			display: block;
			position: relative;
			height: 280px;
			overflow: hidden;
			> img {
				position: absolute;
				left: 50%;
				min-width: 1920px;
				height: 280px;
				margin-left: -960px;
			}
		}
	}
}